body {
    font-family: 'Hind', sans-serif;
}
.mission {
    background-color: rgba(248,248,248,1);
    padding: 103px 0 110px 0;
}
h1 {
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 64px;
    margin-bottom: 53px;
    position: relative;
}
h1:after {
    content: "";
    width: 109px;
    height: 9px;
    background-color: #f15a24;
    display: block;
    position: absolute;
    left: 0;
    bottom: -9px;
}
.description {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
}
.services {
    text-align: center;
}
.services img {
    display: inline-block;
    margin-bottom: 15px;
}
